body{
    font-family: 'Arial', Helvetica, sans-serif;
    font: #777777;
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    line-height: 150%;
    background-image: url(../../assets/images/concrete-texture.png)
}

header{
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: #cccccc solid 3px;
}

h1{
    box-sizing: border-box;
    width: 230px;
    color: #eee;
    background-color: #4aaaa5;
    margin: 0%;
    text-align: left;
    padding: 20px;
    font-size: 28px;
}

h2{
    color: #4aaaa4;
    font-size: 28px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: #cccccc solid 2px;
    padding-bottom: 20px;
}

a{
    color: #d21034

}

.container{
    background-image: url("assets/images/concrete-texture.png");
    width: 960px;
    margin: 0 auto;
}

.bio-header{
    /* float: left; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.bio-nav{
    clear: both;
    float: right;
    width: 15%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#main-bio,
#bio-image{
    float: left;
}

#main-bio{
    background: #ffffff;
    border: #dddddd solid 3px;
    width: 100%;
    padding: 20px;
    margin-top: 20%;
    
}
/* #contact-info{
    width: 30%;
} */
#bio-image{
    box-sizing: border-box;
    margin-right: 20px;
    width: 200px;
    height: 223px;
    border: teal;
    border-style: solid;
    border-width: 2px;
}

#bio-image:hover {
    transform: scale(1.5);
    opacity: 0.5;
}

.footer {
    position: fixed;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    border-top: #4aaaa5 solid 10px;
 }